body
{
font-size:16px;
background-color:#666;
padding:4px;
}
.password
{
font-family:monospace;
}
input, textarea
{
font-family:monospace;
font-size:16px;
border:1px solid #666;
}
.searchform, .addform, .loginform, .setupform, .results, .message, .confirmdelete, .editform
{
background-color:#ccc;
border:1px solid #333;
margin:4px;
padding:4px;
float:left;
clear:both;
}
@media (min-width:480px)
{
body
{
padding:16px;
}
.searchform, .addform, .loginform, .results, .message, .confirmdelete, .editform
{
margin:16px;
padding:16px;
}
}
