<div class="panel panel-default">
  <div class="panel-heading">Add Record</div>
  <div class="panel-body">

    <form class="form-horizontal" role="form" name="add" action="/add" method="post">

      <div class="form-group">
        <label class="col-sm-3 control-label">Title:</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" name="title">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">URL:</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" name="url">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Username:</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" name="username">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Other:</label>
        <div class="col-sm-9">
          <textarea class="form-control" name="other"></textarea>
        </div>
      </div>

      <button type="submit" class="btn btn-default">Add</button>

    </form>

  </div>
</div>
